/* To make space between the navbar and content below*/
body {
    padding-top: 70px; 
}

/* Font settings here */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p, div {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 4px;
    background-color: #7a4d87;
    border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}



/* maybe not used */
.active a{
    color: #e9d6d6 !important;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color:#E7E7E7;
}

/* Disable navbar-brand hover*/
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #E7E7E7;
}

.navbar-nav li a:hover, .navbar-nav li.active {
    color: #e9d6d6 !important;
}

/* Container Padding */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Accordion */
body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }