<footer>
    <hr />
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="http://wwww.sharedhomelab.com">sharedhomelab.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="https://sharedhomelab.on.spiceworks.com/sign_in">Spiceworks</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="kb.sharedhomelab.com">Knowledgebase</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="http://wwww.sharedhomelab.com/resources/">Resources</a></li>
                        </ul>
                    </div>
                </div>
            </div>
</footer>
